########################################
# ROS2 / Colcon build system
########################################

# Default ROS2 workspace build dirs
#/build/
#/install/
#/log/

# Any nested build / install / log folders
#**/build/
#**/install/
#**/log/

# Colcon metadata
.colcon/
.colcon_meta/

########################################
# CMake / Make artifacts
########################################

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake

# Compiled object files
*.o
*.obj
*.so
*.a
*.la
*.lo

# Binaries
*.exe
*.out
*.app

########################################
# Python build artifacts
########################################

__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/lib/
build/bdist*/

########################################
# Logs / Temp files
########################################

*.log
*.tmp
*.temp
*.bak
*.swp
*.swo

########################################
# Compressed / database files
########################################

*.zip
*.tar
*.gz
*.xz
*.7z
*.sqlite

########################################
# VSCode / IDEs
########################################

.vscode/
.vscode-server/
.idea/
*.iml

########################################
# Linux HOME directories and files
# (should NOT be committed)
########################################

Desktop/
Documents/
Downloads/
Music/
Pictures/
Public/
Templates/
Videos/
snap/
Groot/
tinyxml2/
esp/
uros_ws/

.ssh/
.cache/
.config/
.docker/
.espressif/
.gazebo/
.git/
.gnupg/
.ignition/
.local/
.ros/
.rviz2/
.sdformat/
.vscode-server/

.bashrc
.gitconfig
.bash_logout
.profile
.bash_history
.viminfo
.lesshst
.wget-hsts

########################################
# Block Git-related folders explicitly
########################################

# .git/
# .gitlab/
# .github/

########################################
# ROS / Gazebo / Ignition caches
########################################

~/.gazebo/
~/.ignition/
~/.ignition/fuel/
~/.ros/
~/.colcon/

########################################
# Misc
########################################

Thumbs.db
.DS_Store
desktop.ini

